<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/accessories.css" rel="stylesheet" type="text/css">
    <title>Accessories</title>
</head>
<body>
    <h1>You opened the right chest! Now, choose your pair of accessories!</h1>

    <a href="/death/accessories">
        <img src="/erlenmeyerflask.jpg" alt="">
        <img src="/plushmastersword.jpg" alt="">
    </a><br><br><br><br><br>
    <a href="/death/accessories">
        <img src="/erlenmeyerflask.jpg" alt="">
        <img src="/ocean.jpg" alt="">
    </a><br><br><br><br><br>
    <a href="/death/accessories">
        <img src="/ocean.jpg" alt="">
        <img src="/ocean.jpg" alt="">
    </a><br><br><br><br><br>
    <a href="/cities">
        <img src="/camelbak.jpg" alt="">
        <img src="/mastersword.png" alt="">
    </a><br><br><br><br><br><br><br><br><br>
    <br><a href="/">Go home</a>
</body>
</html>