<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mastersword.png">
    <link href="/caves.css" rel="stylesheet" type="text/css">
    <title>Caves</title>
</head>
<body>
    <h1>Welcome <%= user %>!Choose a cave!</h1>

    <a href="/chests">
        <img src="/cave1.jpg" alt="">
    </a>
    <a href="/death/caves">
        <img src="/cave2.jpg" alt="">
    </a>
    <a href="/death/caves">
        <img src="/cave3.jpg" alt="">
    </a>
    <a href="/death/caves">
        <img src="/cave4.jpg" alt="">
    </a><br><br>

    Map: caves -> chests -> accessories -> cities -> winner
</body>
</html>