<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/chests.css" rel="stylesheet" type="text/css">
    <title>Chests</title>
</head>
<body>
    <h1>Choose a chest!</h1>

    <a href="/death/chests">
        <img src="/chest1.png" alt="">
    </a>
    <a href="/accessories">
        <img src="/chest2.jpg" alt="">
    </a>
    <a href="/death/chests">
        <img src="/chest3.jpg" alt="">
    </a>
    <a href="/death/chests">
        <img src="/chest4.jpg" alt="">
    </a><br><br>
</body>
</html>