<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mastersword.png">
    <link href="/cities.css" rel="stylesheet" type="text/css">
    <title>Accessories</title>
</head>
<body>
    <h1>You took the booty and escaped the cave!  Now choose your city.</h1>

    <a href="/death/cities">
        <img src="/city1.jpg" alt="">
    </a>
    <a href="/death/cities">
        <img src="/city2.png" alt="">
    </a>
    <a href="/winner">
        <img src="/city3.jpg" alt="">
    </a>
    <a href="/death/cities">
        <img src="/city4.jpg" alt="">
    </a>
    <br>
    <a href="/">Go home</a>
</body>
</html>