<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mastersword.png">
    <link href="/death.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="info">
        You died lol <br>
        Death cause: <%= deathname %><br>
    </div>
    

    <% if (deathname=="caves") { %> 
        <img src="/caves.jpeg" alt="cave death"/>
    <% } else if (deathname=="chests") { %>
        <img src="/chest_death.jpg">
        <img src="/chest_death2.jpg">
        <img src="/protein.jpg">
    <% } else if (deathname=="accessories") { %>
        <img src="/drowning.jpg">
        <img src="/brokenglass.jpg">
        <img src="/brokensword.png">
    <% } else if (deathname=="cities") { %>
        <img src="/cities1_death.jpg">
        <img src="/cities2_death.jpg">
    <% } %>
    <br><a href="/">Go home</a>
</body>
</html>