@font-face {
    font-family: spooky;
    src: url(/MISTV___.TTF);
}

body {
    background-color: rgb(191, 65, 65);
}

img {
    width: 400px;
    border-radius: 30px;
}

.info {
    font-family: spooky;
    font-size: 50px;
}

